<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:insert="parts/head"><title>Flower</title></head>
    <body>
        <div th:replace="parts/navbar :: navbar"></div>

        <div class="container mt-5">
            <h5>Hello, Guest!</h5>
            <div>This is a bagtracker</div>
        </div>

        <div th:replace="parts/footer :: footer"></div>
    </body>
</html>