<!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:insert="parts/head"><title>Flower</title></head>
    <body>

        <div class="container">
            <div id="logreg-forms">
                <form th:action="@{/password-restore}" class="form-reset" method="post">
                    <input type="text" name="username" th:classappend="${usernameError} ? 'is-invalid'" class="form-control" placeholder="Username"  autofocus="">
                    <div class="invalid-feedback" th:if="${usernameError}" th:text="${usernameError}">Error</div>
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                    <a th:href="@{/login}" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
                </form>
            </div>
        </div>

        <div th:replace="parts/footer :: footer"></div>
    </body>
</html>