<!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:insert="parts/head"><title>Flower</title></head>
    <body>

        <div class="container">
            <div id="logreg-forms">
                <form th:action="@{/password-restore}" class="form-reset" method="post">
                    <label>New password has been sent to your email</label>
                    <a th:href="@{/login}" id="cancel_reset"><i class="fas fa-angle-left"></i> Back to login</a>
                </form>
            </div>
        </div>

        <div th:replace="parts/footer :: footer"></div>
    </body>
</html>