<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="parts/head"><title>Flower</title></head>
<body>
<div th:replace="parts/navbar :: navbar"></div>

    <div class="navbar-nav mr-auto sidenav">
        <a class="btn btn-primary m-2" type="submit" th:href="@{/project/add}">Create new project</a>
        <div class="row m-1" th:each="project : ${projects}" th:object="${project}">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/project/} + *{id}"><h5 class="card-title" th:text="*{name}">name</h5></a>
                        <p class="card-text" th:text="*{description}">Description</p>
                    </div>
                    <div th:if="${user.equals(project.owner)} or ${user.equals(project.team.leader)}" class="card-footer">
                        <a th:if="${user.equals(project.owner)}" th:href="@{/project/edit/} + *{id}" class="card-link"><i class="fa fa-edit"></i></a>
                        <a th:if="${user.equals(project.team.leader)}" th:href="@{/team/} + *{team.id}" class="card-link"><i class="fa fa-users"></i></a>
                        <a th:if="${user.equals(project.owner)}" th:href="@{/project/delete/} + *{id}" class="card-link"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div th:if="${project}" class="container-fluid">
            <div class="row">
                <div class="col-sm-1">
                    <a th:href="@{/project/{id}/issue/add(id=${project.id})}" th:if="${user.equals(project.owner)} or ${user.equals(project.team.leader)}" class="btn btn-warning m-2">Add issue</a>
                </div>
                <div class="col-sm-1">
                    <a th:href="@{/project/{id}/sprint/add(id=${project.id})}" th:if="${user.equals(project.owner)} or ${user.equals(project.team.leader)}" class="btn btn-success m-2">Add sprint</a>
                </div>
            </div>

            <div th:if="${!backlogIssues.isEmpty()}" class="row m-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project backlog</h5>
                        <div class="card-group">
                            <div class="row m-1" th:each="issue : ${backlogIssues}" th:object="${issue}">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                <p th:text="*{label}" th:remove="tag">label</p>
                                                <span class="badge" th:text="*{type}"
                                                      th:classappend="*{type.name()} == 'EPIC' ? badge-primary : (*{type.name()} == 'STORY' ? badge-info : (*{type.name()} == 'TASK' ? badge-warning : badge-danger))"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text" th:text="*{description}">Description</p>
                                            <p class="card-text mb-0" th:text="'Status: ' + *{status}">status</p>
                                            <p class="card-text mb-0" th:text="'Priority: ' + *{priority}">priority</p>
                                            <p class="card-text mb-0" th:text="'Reporter: ' + *{reporter.fio}">reporter</p>
                                            <p class="card-text mb-1" th:text="'Executor: ' + *{executor.fio}">executor</p>
                                            <p class="card-text mb-1" th:if="*{parent}" th:text="'Parent issue: ' + *{parent.label}">parent</p>
                                            <p class="card-text mb-1"><small class="card-subtitle text-muted" th:text="${'Created '} + *{dateCreated}">dateCreated</small></p>
                                        </div>
                                        <div th:if="${user.equals(project.team.leader)}" class="card-footer">
                                            <a th:href="@{/project/{project}/issue/{issue}/edit(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-edit"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/create-child(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-expand"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/to-sprint(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-share"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/delete(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${!sprint.issues.isEmpty()}" th:each="sprint : ${sprints}" class="row m-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${sprint.label} + ' (' + ${#calendars.format(sprint.dateStart, 'dd.MM.yyyy')} + ' - ' + ${#calendars.format(sprint.dateEnd, 'dd.MM.yyyy')} + ')'">Sprint</h5>
                        <div class="card-group">
                            <div class="row m-1" th:each="issue : ${sprint.issues}" th:object="${issue}">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                <p th:text="*{label}" th:remove="tag">label</p>
                                                <span class="badge" th:text="*{type}"
                                                      th:classappend="*{type.name()} == 'EPIC' ? badge-primary : (*{type.name()} == 'STORY' ? badge-info : (*{type.name()} == 'TASK' ? badge-warning : badge-danger))"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text" th:text="*{description}">Description</p>
                                            <p class="card-text mb-0" th:text="'Status: ' + *{status}">status</p>
                                            <p class="card-text mb-0" th:text="'Priority: ' + *{priority}">priority</p>
                                            <p class="card-text mb-0" th:text="'Reporter: ' + *{reporter.fio}">reporter</p>
                                            <p class="card-text mb-1" th:text="'Executor: ' + *{executor.fio}">executor</p>
                                            <p class="card-text mb-1" th:if="*{parent}" th:text="'Parent issue: ' + *{parent.label}">parent</p>
                                            <p class="card-text mb-1"><small class="card-subtitle text-muted" th:text="${'Created '} + *{dateCreated}">dateCreated</small></p>
                                        </div>
                                        <div th:if="${user.equals(project.team.leader)}" class="card-footer">
                                            <a th:href="@{/project/{project}/issue/{issue}/edit(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-edit"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/create-child(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-expand"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/to-sprint(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-share"></i></a>
                                            <a th:href="@{/project/{project}/issue/{issue}/delete(project=${project.id},issue=*{id})}" class="card-link"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="parts/footer :: footer"></div>
</body>
</html>