<!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:insert="parts/head"><title>Flower</title></head>
    <body>
        <div class="container">
            <div id="logreg-forms">
                <form th:action="@{/registration}" method="post" th:object="${user}" class="form-signup">

                    <input type="text" th:field="*{username}" th:errorclass="is-invalid" class="form-control" placeholder="Username"  autofocus="">
                    <div class="invalid-feedback" th:if="${usernameError}" th:text="${usernameError}">Error</div>
                    <input type="text" th:field="*{fio}" th:errorclass="is-invalid" class="form-control" placeholder="Full name"  autofocus="">
                    <div class="invalid-feedback" th:if="${fioError}" th:text="${fioError}">Error</div>
                    <input type="email" th:field="*{email}" th:errorclass="is-invalid" class="form-control" placeholder="Email address"  autofocus="">
                    <div class="invalid-feedback" th:if="${emailError}" th:text="${emailError}">Error</div>
                    <input type="password" th:field="*{password}" th:errorclass="is-invalid" class="form-control" placeholder="Password"  autofocus="">
                    <div class="invalid-feedback" th:if="${passwordError}" th:text="${passwordError}">Error</div>
                    <input type="password" name="password2" th:classappend="${password2Error} ? 'is-invalid'" class="form-control" placeholder="Repeat Password"  autofocus="">
                    <div class="invalid-feedback" th:if="${password2Error}" th:text="${password2Error}">Error</div>

                    <div>
                        <div class="g-recaptcha" data-sitekey="6LfBbdcUAAAAAAU1MNvF-GqsHTPJ3YdX3kL53zYM"></div>
                        <div class="invalid-feedback" th:if="${captchaError}" th:text="${captchaError}">Error</div>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                    <a th:href="@{/login}" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
                </form>
            </div>
        </div>

        <div th:replace="parts/footer :: footer"></div>
    </body>
</html>